# -----------------------
# Java / Spring Boot
# -----------------------
target/
build/
*.class
*.log
*.war
*.jar
.mvn/
.idea/
*.iml

# -----------------------
# Node / Next.js
# -----------------------
node_modules/
.next/
dist/
out/
coverage/

# -----------------------
# Environment files
# -----------------------
.env
.env.local
.env.*
*.env

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------
logs/
*.log

# -----------------------
# IDE
# -----------------------
.vscode/
.idea/

# -----------------------
# Misc
# -----------------------
*.swp
*.swo